// general styles for the project that wouldn't be a reuseable component


/* ==========================================================================
   Gallery - Thumbnails
   ========================================================================== */

.bv-modal {
  border-bottom: 2px solid rgba($grey, .4);
}


.bv-box-height{
  height: 45px;
  overflow: hidden;

  @include bp($md){
    height: 50px;
    overflow: hidden; }


  &--3dots   {
    height: 40px;
    margin-top: -20px;
    overflow: hidden;}
  }


/* ==========================================================================
   Typo
   ========================================================================== */


   .bv-lineheight{

    line-height: 1.2em;
   }


/* ==========================================================================
   Show/Hide Content
   ========================================================================== */

.bv-hidden{display: none;}

@media only screen and (max-width: 1024px) {
  .bv-mob-hide{display: none;}
.bv-hidden{ display: block;}
}


.bv-swap{
  float:right!important;
}

.bv-shadow-inset{

      box-shadow: 0px 0px 20px 0px rgba($black,.5) inset;

}

/* ==========================================================================
   Parallax
   ========================================================================== */

.bv-parallax{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

    &--right   {
      background-attachment: fixed;
      background-position: right;
      background-repeat: no-repeat;
      background-size: cover;}

}


@media only screen and (max-width: 1024px) {

.bv-remove-bg{

  background-image: none!important;

  &--black{
    background-image: none!important;
    background-color: #000;}
}

.bv-parallax{
      background-attachment: scroll;
      background-size: cover;

    }

}


/* ==========================================================================
   Buttons
   ========================================================================== */

.bv-button{
  background-color: rgba(195, 14, 46, 1);
    border-radius: 2px;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
    transition: all ease 0.4s;
    border: none;
    padding: 16px 28px;
    cursor: pointer;
}
.bv-button:hover{
  background-color: rgba(195, 14, 46, 0.75);
    border-radius: 2px;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
    transition: all ease 0.4s;
    border: none;
    padding: 16px 28px;
    cursor: pointer;
}



.clearfix {
  overflow: auto;
}




/*************** offer tag for included tag *******************/
.flight-tag {
  position: absolute;
  top: $s-2;
  left: $s-2;
  display: block;
  width: 50%;
  @include bp($sm){
    top: $s0;
    left: $s0;
    width: 146px;
  }
}
